@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0f0e17;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
    color: #fffffe;
}

.steam_wrap {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.offline_box {
    max-width: 300px;
    flex-grow: 1;
    padding: 30px;
    height: 200px;
    background-color: rgb(16, 16, 16);
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3c3c3c;
    background-image: url('https://assets-global.website-files.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png');
}

#videosWrapper{
    max-width:300px;
    height: 200px;
}
  
.videoCSS{
  min-width: 300px;
  min-height:200px;
  width: 300px;
}

.offline_box p {
    font-weight: 600;
    font-size: 20px;
}

header {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.auth_header {
    display: flex;
    gap: 20px;
}

.login_button,
.join_button {
    color: #fffffe;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 600;
}

.login_button {
    background-color: #ff8906;
}
.join_button {
    border: 1px solid #ff8906;
}

.title {
    font-size: 22px;
    color: #fffffe;
    font-weight: 600;
}

.streamer_info {
    flex-grow: 1;
    color: #fffffe;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
}

.streamer_name {
    font-size: 18px;
    font-weight: 500;
}

.streamer_description {
    font-size: 16px;
    font-weight: 500;
    color: #a7a9be;
}

.follow_wrap {
    display: flex;
    gap: 40px;
    align-items: center;
}

.follow_button {
    color: fffffe;
    background-color: #f25f4c;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
}

a {
    color: #fffffe;
}

.auth_input {
    padding: 10px 20px;
    color: #0f0e17;
    background-color: #fffffe;
    border-radius: 2px;
    font-weight: 500;
}

.auth_form {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_form {
    font-size: 25px;
    font-weight: 500;
}

.auth-form_input h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.auth_button {
    margin-top: 20px;
    background-color: #ff8906;
    padding: 10px 30px;
    border-radius: 2px;
}

.profile_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_user {
    width: 40px;
    height: 40px;
}

.user_name {
    font-size: 32px;
    margin-bottom: 30px;
}

.button_show {
    background-color: #ff8906;
    padding: 10px 5px;
    border-radius: 2px;
    font-weight: 600;
}

.stream_key {
    background-color: #242327;
    padding: 5px;
    margin-left: 5px;
}

.streams_wrap {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.link {
    color: #ff8906;
}